

/* Swiper CSS */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Header Mega Menu */
.mega-menu {
    display: none;
  }

  .mega-menu a.text-black:hover {
    color: blue !important;
  }

  .category-menu-wr:hover .mega-menu {
    display: block;
  }

  .list-sub-menu {
    min-width: 300px;
  }

  .category-item-2:hover .list-sub-menu {
    display: block !important;
  }

  @media all and (min-width: 1200px) {
    .row .col-20 {
      width: 20% !important;
    }
  }